{#
Copyright 2017 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block body %}
     <div class="jumbotron">
         <p>Connect to a Salesforce account by logging in to Salesforce. The username and password will remain with Salesforce and will not be stored in this application.</p>
         <p>
         <div class="btn-group" role="group" aria-label="...">
             <a class="btn btn-primary btn-lg" role="button" onclick="popupwindow('{{ path('campaignchain_channel_salesforce_login') }}','',600,600);">Connect to Production Environment</a>
             <a class="btn btn-default btn-lg" role="button" onclick="popupwindow('{{ path('campaignchain_channel_salesforce_login', { 'is_sandbox': true }) }}','',600,600);">Connect to Sandbox</a>
         </div>
         </p>
     </div>

 {% endblock %}
